img {max-width: 100%; height: auto;}
#img_r {margin:20px; float:right;} 
p {font-size:24px; text-align: justify; text-indent: 15px;}
h1 {font-size:36px;}
h2 {font-size:28px; margin-top:36px;}

::-webkit-scrollbar { width: 17px; height: 17px; }
::-webkit-scrollbar:vertical { background: -webkit-gradient(linear, left top, right top, color-stop(0%, #EEEEEE), color-stop(50%, #FFFFFF), color-stop(100%, #F2F2F2)); border: 1px solid #DDDDDD; }
::-webkit-scrollbar-thumb:vertical { height: 50px; background: -webkit-gradient(linear, left top, right top, color-stop(0%, #EEEEEE), color-stop(20%, #EEEEEE), color-stop(21%, #AAAAAA), color-stop(79%, #AAAAAA), color-stop(80%, #F2F2F2), color-stop(100%, #F2F2F2)); border-radius: 12px; }
::-webkit-scrollbar-thumb:vertical:hover { height: 50px; background: -webkit-gradient(linear, left top, right top, color-stop(0%, #EEEEEE), color-stop(20%, #EEEEEE), color-stop(21%, #A0A0A0), color-stop(79%, #A0A0A0), color-stop(80%, #F2F2F2), color-stop(100%, #F2F2F2)); border-radius: 12px; }
